<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Arenavision">
        <setting id="arena_url" type="labelenum" values="http://arenavision.us|http://arenavision.biz|http://arenavision.in"
                 label="Agenda Arenavision:" default="http://arenavision.us"/>
        <setting id="get_categorias" type="bool" label="Clasificar por deportes" default="true"/>
    </category>

</settings>